<div class="bg-white mx-auto my-4 shadow-lg rounded-lg">
    <div class="grid grid-cols-3 gap-1">
        <div class="bg-white rounded p-5 col-span-2">
            <div class="grid grid-col-span-3">

                <ul class="flex flex-wrap  text-gray-900 dark:text-white">
                    <li>
                        <a href="#" class="font-bold me-4 hover:underline md:ms-2">محمد السيد ابو شيته </a>
                    </li>
                    <li>
                        <a href="#" class="me-4 hover:underline md:ms-2">01026891912</a>
                    </li>
                    <li>
                        <a href="#" class="me-4 hover:underline md:ms-2">muhamedabosheta@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="mt-2 grid grid-col-span-2">
                <ul class="flex flex-wrap  text-gray-900 dark:text-white">
                    <li>
                        <a href="#" class="me-4 hover:underline md:ms-2"> 12:30 مساءا    </a>
                    </li>
                    <li>
                        <a href="#" class="me-4 hover:underline md:ms-2">2/2/2023</a>
                    </li>
                </ul>
                


            </div>
            <div class="grid grid-col-span-1">
                <h3 class="mt-2 font-bold ms-2">حجز استشارة - “نوع الاستشارة</h3>
                <p class="mt-2 font-family-public-sans text-base font-normal font-weight-400 leading-6">Sed quibusdam in earum nam quia quod dolore dolore. Cupiditate velit animi sit minima vitae asperiores. Pariatur ipsam voluptas expedita expedita sunt est aut fuga. Velit et est praesentium voluptatum totam velit doloremque id.</p>
            </div>
        </div>
        <div class="bg-white rounded p-5">
            <div class="flex justify-center">
                <button type="submit"
                    class="flex-grow btn-bg hover:bg-brown-600 focus:ring-4 focus:outline-none focus:ring-brown-300 font-medium rounded-lg text-sm px-5 py-2 mt-3 text-center">قبول
                    وارسال الدعوة</button>
            </div>
            <div class="flex justify-center">
                <button type="submit"
                    class="flex-grow text-red-400 bg-red-100 hover:bg-brown-600 focus:ring-4 focus:outline-none focus:ring-brown-300 font-medium rounded-lg text-sm px-5 py-2 mt-3 text-center dark:bg-brown-700 dark:hover:bg-brown-800 dark:focus:ring-brown-800">الغاء
                    الطلب</button>
            </div>
        </div>
        
    </div>

</div>