<div class="container mx-auto px-4 sm:px-8">

<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <i class="fa-regular fa-calender mt-1 mx-2"></i>
        المواعيد (عطله - عمل )
      </a>
    </li>
  </ol>
</nav>
<div class="grid grid-col-2">
  <div class="inline-flex rounded-md shadow-sm my-8" role="group">
    <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      السبت
    </span>
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  </div>
  <div class="inline-flex rounded-md shadow-sm my-8" role="group">
    <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      الأحد
    </span>
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  </div>
  <div class="inline-flex rounded-md shadow-sm my-8" role="group">
    <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      الأثنين
    </span>
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  </div>
  <div class="inline-flex rounded-md shadow-sm my-8" role="group">
    <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      الثلاثاء
    </span>
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  </div>
  <div class="inline-flex rounded-md shadow-sm my-8" role="group">
    <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      الأربعاء
    </span>
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  </div>
  <div class="inline-flex rounded-md shadow-sm my-8" role="group">
    <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      الخميس
    </span>
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  </div>
  <div class="inline-flex rounded-md shadow-sm my-8" role="group">
    <span class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      الجمعة
    </span>
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  
  
    <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="00">00</option>
        <option value="30">30</option>
      </select>
      <span class="px-2">:</span>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="" id="" class="px-2 outline-none appearance-none bg-transparent">
        <option value="AM">صباحاً</option>
        <option value="PM">مساءً</option>
      </select>
    </div>
  </div>
</div>
</div>
