<div class="container mx-auto px-4 sm:px-8">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
          <i class="fa-regular fa-file mt-1 mx-2"></i>
          الإذونات
        </a>
      </li>
    </ol>
  </nav>
  <div class="py-8">
    <div class="grid grid-cols-6 my-2">
      <div class="col-span-1">
        <select id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="">10</option>
        </select>
      </div>
      <div class="col-end-7 col-span-2">
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block py-2.5 px-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="بحث">
      </div>
    </div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div
        class="inline-block min-w-full shadow-md rounded-lg overflow-hidden"
      >
        <table id="my-table" class="min-w-full leading-normal">
          <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-700 tracking-wider"
              >
              <input type="checkbox">
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-700 tracking-wider"
              >
              الإسم
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-700 tracking-wider"
              >
                مسموح إلي
              </th>             
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-700 tracking-wider"
            >
            تاريخ الإنشاء
            </th>
            <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-right text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
              Action
            </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <input type="checkbox">
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex">
                    <p class="text-gray-900 font-bold whitespace-no-wrap">
                      AAAAAAAAAAA
                    </p>
                </div>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">                  
                <span
                  class="relative inline-block px-3 py-2 font-semibold text-green-900 leading-tight"
                >
                  <span
                    aria-hidden
                    class="absolute inset-0 bg-green-200 opacity-50 rounded-t"
                  ></span>
                  <span class="relative">مدير عام</span>
                </span>
                <span
                  class="relative inline-block mr-2 px-3 py-2 font-semibold text-blue-900 leading-tight"
                >
                  <span
                    aria-hidden
                    class="absolute inset-0 bg-blue-200 opacity-50 rounded-t"
                  ></span>
                  <span class="relative">مساعد</span>
                </span>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">Sept 28, 2019</p>
              </td>
              <td
                class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-right"
              >
              
              <i class="fa fa-pencil fa-lg ml-5" aria-hidden="true"></i>
              <i class="fa fa-trash" aria-hidden="true"></i>
              </td>
            </tr>
           </tbody>
        </table>
        
        <div class="pagination">
          <ol id="numbers"></ol>
        </div>


      </div>
    </div>
  </div>